### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
player_data = purchase_data.groupby(['SN'])
player_count = len(player_data.nunique())
pdt = pd.DataFrame({"Total Players": [player_count]})
pdt

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
item_count = purchase_data['Item ID'].nunique()
avg_price = round(purchase_data['Price'].mean(),2)
tot_count = purchase_data['Price'].count()
tot_sale = purchase_data['Price'].sum()
pasdf = pd.DataFrame({"Number of Unique Items": [item_count], "Average Price": f'${avg_price}', 
                    "Number of Purchases": [tot_count], "Total Revenue": f'${tot_sale}'})
pasdf

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [43]:
gender_data = purchase_data.loc[:, ["Gender", "SN"]]
gender_data = gender_data.drop_duplicates()
gender_data = gender_data.drop(columns="SN")
total_count = gender_data.count()
male_count = int(gender_data.loc[gender_data['Gender'] == 'Male'].count())
male_pct = float(round((male_count/total_count)*100,2).values)
female_count = int(gender_data.loc[gender_data['Gender'] == 'Female'].count())
female_pct = float(round((female_count/total_count)*100,2).values)
other_count = int(gender_data.loc[gender_data['Gender'] == 'Other / Non-Disclosed'].count())
other_pct = float(round((gender_data.loc[gender_data['Gender'] == 'Other / Non-Disclosed'].count()/gender_data['Gender'].count())*100,2).values)
gender_demo = pd.DataFrame({"": ['Male', 'Female', 'Other/Non-Disclosed'],
                            "Total Count": [male_count, female_count, other_count],     
                            "Percentage of Players": [male_pct, female_pct, other_pct]})
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:.2f}%".format)
gender_demo = gender_demo.set_index('')
gender_demo

                     Total Count Percentage of Players

Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [46]:
gender_data = purchase_data.loc[:, ["Gender", "SN"]]
gender_data = gender_data.drop_duplicates()
gender_data = gender_data.drop(columns="SN")
gender_count = gender_data.groupby(['Gender'])
gdatacount = gender_count['Gender'].count()
gdatapercent = round((gender_count['Gender'].count()/gender_data['Gender'].count())*100,2).map("{:.2f}%".format)
gdf = pd.DataFrame({'Total Count':gdatacount,'Percentage of Players':gdatapercent})
gdf

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
buyer_gap_data = purchase_data.loc[:, ["Gender", "SN"]]
buyer_gap_data = buyer_gap_data.drop_duplicates()
gender_count = buyer_gap_data.groupby(['Gender'])
gdatacount = gender_count['Gender'].count()
gender_data = purchase_data.groupby(['Gender'])
gender_purchase = gender_data['Gender'].count()
avg_purch_price = round(gender_data['Price'].mean(),2).map("${:,.2f}".format)
total_purch_price = gender_data['Price'].sum().map("${:,.2f}".format)
avg_tot_purch = round(gender_data['Price'].sum()/gdatacount,2).map("${:,.2f}".format)
sumdf = pd.DataFrame({'Purchase Count':gender_purchase,'Average Purchase Price':avg_purch_price,
                           'Total Purchase Value':total_purch_price,'Avg Total Purchase per Person':avg_tot_purch})
#sumdf = pd.concat([gender_purchase,avg_purch_price,total_purch_price,avg_tot_purch],axis=1)
#cols=pd.Series(sumdf.columns)
#for dup in cols[cols.duplicated()].unique(): 
#    cols[cols[cols == dup].index.values.tolist()] = [dup + '.' + str(i) if i != 0 else dup for i in range(sum(cols == dup))]
#sumdf.columns=cols
#sumdf.rename(columns = {list(sumdf)[0]: 'Purchase Count',list(sumdf)[1]: 'Average Purchase Price',list(sumdf)[2]: 'Total Purchase Value',list(sumdf)[3]: 'Avg Total Purchase per Person'}, inplace = True)
sumdf

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
age_data = purchase_data.loc[:, ["Age", "SN"]]
age_data = age_data.drop_duplicates()
age_data.drop(columns='SN',axis=1,inplace=True)
age_count = age_data.size
maxage = age_data['Age'].max()+1
bins = [0,9,14,19,24,29,34,39,maxage]
age_range = ["<10", "10-14", "15-19" , "20-24" , "25-29" , "30-34" , "35-39" , "40+"]
age_data["Age Range"] = pd.cut(age_data["Age"], bins, labels=age_range)
sorted_age_data = age_data.groupby(['Age Range'])
sorted_age_count = sorted_age_data.count()
pctsorted_age_data = round((sorted_age_data["Age"].count()/age_count)*100,2).map("{:.2f}%".format)
agedemodf = pd.concat([sorted_age_count,pctsorted_age_data],axis=1)
cols=pd.Series(agedemodf.columns)
for dup in cols[cols.duplicated()].unique(): 
    cols[cols[cols == dup].index.values.tolist()] = [dup + '.' + str(i) if i != 0 else dup for i in range(sum(cols == dup))]
agedemodf.columns=cols
agedemodf.rename(columns = {list(agedemodf)[0]: 'Total Count',list(agedemodf)[1]: 'Percentage of Players'}, inplace = True)
agedemodf

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
age_purch_data = purchase_data.loc[:, ["Age","Price"]]
maxage = age_purch_data['Age'].max()+1
bins = [0,9,14,19,24,29,34,39,maxage]
age_range = ["<10", "10-14", "15-19" , "20-24" , "25-29" , "30-34" , "35-39" , "40+"]
age_purch_data["Age Range"] = pd.cut(age_purch_data["Age"], bins, labels=age_range)
sorted_age_purch = age_purch_data.groupby(["Age Range"])
age_purch_count = sorted_age_purch["Age"].count()
age_purch_sum = sorted_age_purch["Price"].sum().map("${:,.2f}".format)
avgSortedAgePurch = sorted_age_purch["Price"].mean().map("${:,.2f}".format)
ppavgSortedAgePurch = (sorted_age_purch["Price"].sum()/sorted_age_data["Age"].count()).map("${:,.2f}".format)
agepurchdf = pd.DataFrame({'Purchase Count':age_purch_count,'Average Purchase Price':avgSortedAgePurch,
                           'Total Purchase Value':age_purch_sum,'Avg Total Purchase per Person':ppavgSortedAgePurch})
#agepurchdf = pd.concat([age_purch_count,avgSortedAgePurch,age_purch_sum,ppavgSortedAgePurch],axis=1)
#cols=pd.Series(agepurchdf.columns)
#for dup in cols[cols.duplicated()].unique(): 
#    cols[cols[cols == dup].index.values.tolist()] = [dup + '.' + str(i) if i != 0 else dup for i in range(sum(cols == dup))]
#agepurchdf.columns=cols
#agepurchdf.rename(columns = {list(agepurchdf)[0]: 'Purchase Count',list(agepurchdf)[1]: 'Average Purchase Price',
#                             list(agepurchdf)[2]: 'Total Purchase Value',list(agepurchdf)[3]: 'Avg Total Purchase per Person'},
#                  inplace = True)
agepurchdf

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
spender = purchase_data.groupby("SN")
purc_spender = spender["Purchase ID"].count()
avg_spender = spender["Price"].mean()
total_spender = spender["Price"].sum()
top_spenders = pd.DataFrame({"Purchase Count": purc_spender,"Average Purchase Price": avg_spender,
                             "Total Purchase Value":total_spender})
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}","Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
items_grouped = items.groupby(["Item ID", "Item Name"])
item_purchase_count = items_grouped["Item Name"].count()
tpv = items_grouped["Price"].sum()
item_price = tpv / item_purchase_count
most_popular_items = pd.DataFrame({"Purchase Count": item_purchase_count, "Item Price": item_price,"Total Purchase Value":tpv})
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [16]:
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})